<!-- ici le tableau actifs et le sidebar, et le header -->


<!-- ---------------------------Header----------------------------- -->
<div class="contener">
    <app-header></app-header>
  <!-- ----------------------------Header-------------------------- -->
  <!-- ici c'est la div qui englobe et le sidebar et le corps du dashboard -->
    <div class="sidbarEtDashboard"> 
        
        <div class="sidebar" >
            <app-sidebar></app-sidebar>
        </div>
  
        <div class="centralDashboard">
        <app-table-archive></app-table-archive>  <!--  ici je mets le tableau des archivés vue uniquement par l'admin-->
     
        </div>
       
    </div><!--fin de la div "sidbarEtDashboard"   -->
  </div><!--fin du contener   -->